---
import hero from '../assets/hero.jpg';
import instagramIcon from '../assets/icons/instagram.svg';
---

<section id="hero" class="fixed top-0 left-0 w-screen h-screen z-0">
		<img class="w-full h-full object-cover" src={hero.src} alt="" fetchpriority="high" />
		<div id="text" class="absolute inset-0 flex flex-col items-center justify-center text-amber-50 px-8 text-center md:px-6">
			<h1 class="mb-2 text-3xl md:text-5xl">Selectah Milkrates by Artesano</h1>
			<p class="text-lg mb-4">Cajas de madera hechas a mano para almacenar discos de vinilo, 12" y 7"</p>
			<a href="https://www.instagram.com/artesano.costa.rica" target="_blank" class="flex items-center gap-2">
    	<span>Please?</span> <img src={instagramIcon.src} alt="Instagram" class="w-8 h-8 invert">
  		</a>
		</div>
		<div id="scroll" class="absolute bottom-8 left-1/2 transform -translate-x-1/2 cursor-pointer animate-pulse">
			<svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="text-amber-50">
				<polyline points="6 9 12 15 18 9"></polyline>
			</svg>
		</div>
</section>

<script>
	const scrollCaret = document.getElementById('scroll');
	const formSection = document.getElementById('form');

	if (scrollCaret && formSection) {
		scrollCaret.addEventListener('click', () => {
			formSection.scrollIntoView({ behavior: 'smooth' });
		});
	}
</script>

<!-- Spacer to push content below the hero -->
<div class="h-screen"></div>
